.title {
    font-family: 'Wireframe Davenport', sans-serif;
    font-size: 2.5em;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    background-color: transparent;
}

#navbar h2 a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#navbar form {
    display: flex;
    gap: .5rem;
}

.input {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
    transition: 300ms ease-in-out;
}

.input:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
        -13px -13px 100px #ffffff;
}

#navbar input {
    padding: .2rem;
    border-radius: 5px;
    border: none;
}

#navbar form button {
    width: 3em;
    position: relative;
    height: 3.5em;
    border: 3px ridge #DB9100;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

#navbar form button::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 60%;
    height: 40%;
    background-color: #212121;
    transition: 0.5s;
    transform-origin: center;
}

#navbar form button::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #212121;
    transition: 0.5s;
}

#navbar form button::before,
#navbar form button::after {
    transform: scale(0);
}

#navbar form button:hover {
    box-shadow: inset 0px 0px 25px #DB9100;
}

.button {
    position: relative;
    padding: 10px 22px;
    border-radius: 6px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #DB9100;
    transition: all 0.2s ease;
}

.button:active {
    transform: scale(0.96);
}

.button:before,
.button:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
}

.button:hover:before {
    top: -70%;
    background-image: radial-gradient(circle, #DB9100 20%, transparent 20%),
        radial-gradient(circle, transparent 20%, #DB9100 20%, transparent 30%),
        radial-gradient(circle, #DB9100 20%, transparent 20%),
        radial-gradient(circle, #DB9100 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, #DB9100 15%, transparent 20%),
        radial-gradient(circle, #DB9100 20%, transparent 20%),
        radial-gradient(circle, #DB9100 20%, transparent 20%),
        radial-gradient(circle, #DB9100 20%, transparent 20%),
        radial-gradient(circle, #DB9100 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
        10% 10%, 18% 18%;
    background-position: 50% 120%;
    animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
            40% 90%, 55% 90%, 70% 90%;
    }

    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
            50% 50%, 65% 20%, 90% 30%;
    }

    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
            50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

.button:hover::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #DB9100 20%, transparent 20%),
        radial-gradient(circle, #DB9100 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, #DB9100 15%, transparent 20%),
        radial-gradient(circle, #DB9100 20%, transparent 20%),
        radial-gradient(circle, #DB9100 20%, transparent 20%),
        radial-gradient(circle, #DB9100 20%, transparent 20%),
        radial-gradient(circle, #DB9100 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    background-position: 50% 0%;
    animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
            70% -10%, 70% 0%;
    }

    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
            105% 0%;
    }

    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
            110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}